@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);

body{
    background-color: #1e0034;
    text-align: center;
    margin: 0;
}

.Titulo{
    background-color: #cac6d7;
    margin: 0 0 2vh 0;
    height: 6vh;
}
h1{
    margin: 0;
    color: rgb(210, 195, 195);
}
.articulo{
    color: white;
    width: 45vh;
    display: inline-block;
    padding: 1vh;
    background-color: #00755c;
    margin: 1vh;
    font-family: "Regular";
    border-radius: 10px;
    text-align: center;
}